@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
    max-width: 100%;
}



.main{
    background-color: black;
    padding-top: 80px;
    height: calc(100vh - 100px);
    position: relative;
    
}

.container-cam{
    max-width: 1820px;
    margin: 0  auto;

    
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    
}

.cam{
   max-width: calc(100% / 7);
   position: relative;
   



}


.toolbar{
    padding-top: 84px;
    background-color: #222222;
    
    
}

.utente{
    color: white;
    background-color: rgba(black, 0.5);
    display: flex;
    position: absolute;
    bottom: 5px;
    padding: 2px 5px;
   
    
}

.vista{
    color: white;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
   
   
}

.speaker-view{
   background-color:rgba(245,245,245,0.5);
   padding: 3px 5px;
   border-radius: 5px;
   margin: 5px;
}

.expand{
    background-color:rgba(245,245,245,0.5);
   padding: 3px 5px;
   border-radius: 5px;
   margin: 5px;
}